.tweet-content
  .baby
    .baby__image
      = image_tag("5B02B075-E90A-4BEE-BD77-64F75B811CD0.JPEG", class: "baby_image")
    .baby__image__name
      = @baby.name
    .group-user
      メンバーリスト
      .group-user__member
        .group-user__member__name
          - @baby.users.each do |user|
            = user.name

  .messages
    .message
      .message__mask
        .messages__mask__text
          test
      .message__info
        .message__info__date
          2020-06-10
        .message__info__image
          user-image
    
    .form
      %form.new_message
        .input-box
          = form_for [@baby, @message], url: { :controller => :messages, :action => :create} do |f|
            = f.label :image, class: "input-box__image" do
              = icon("fa", "grin-alt", class: "image-icon")
              = icon("fa", "camera", class: "image-icon")
            = f.file_field :image, class: "input-box__image__file"
            = f.text_field :content, class: "input-box__text"
          %button{type: "submit", class: "submit-btn"}
            %i.fa.fa-comment-dots