.user-content
  .user-content__box
    .user-content__box__name
      ユーザー
    .user-content__box__image
      -# = image_tag("D85D87A4-3A60-452B-B42B-EFCC0F3C4A14.JPEG", class: "user-image")
  .user-mask
    .user-mask__name
      = current_user.name
    .user-mask__job
      父親/無職
  .user-edit
    = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: "edit-btn")

.add-baby
  = link_to new_baby_path do
    %p 赤ちゃんの新規登録はここをクリック

.babies
  - current_user.babies.each do |baby|
    .babies__baby-box
      = link_to baby_messages_path(baby) do
        .babies__baby-box__name
          = baby.name
        .babies__baby-box__image
          -# = image_tag("5B02B075-E90A-4BEE-BD77-64F75B811CD0.JPEG", class: "baby-image")